<% if @params %>
    <h2>Параметры</h2>
    <table>
        <% for param in @params.keys %>
            <tr>
                <td align=right><%= @params[param]["name"]  %>:&nbsp;</td>
                <td><%= @params[param]["value"] %></td>
            </tr>
        <% end %>
    </table>
<% end %>

