<table>
<%= render partial: "parameter", locals: { id: "timeout", name: "Timeout" } %>
<%= render partial: "parameter", locals: { id: "ping", name: "Ping interval" } %>
<%= render partial: "parameter", locals: { id: "gps", name: "GPS interval" } %>
</table>
