<?xml version="1.0" encoding="UTF-8"?>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&amp;amp;amp;lang=ru-RU"
        type="text/javascript">
</script>

<script type="text/javascript">
    !function(){
        var apiAdress = "/device/track?dev_id=<%= @dev_id %>";
        // Впишите адрес прямо сюда

        var domElementId = "trackSelector";
        // в документ нужно вставить <div id="trackSelector"><div>

        var map, trackList;
        var request = new XMLHttpRequest();

        request.onreadystatechange = function() {
            var center, i, selector = '';
            var domElement = document.getElementById(domElementId);
            if(request.readyState === XMLHttpRequest.DONE && request.status === 200) {

                trackList = JSON.parse(request.responseText ) || console.log("Error: no data received from server") || [];

                for (i=0; i<trackList.length; i++) {
                    selector += '<label style="display: block; user-select: none; -webkit-user-select: none">';
                    selector += '<input type="radio" name="track" value="' + i + '" />';
                    selector += trackList[i].name + '</label>';
                }

                domElement.innerHTML = selector;

                for (i=0; i<trackList.length; i++) {
                    if (domElement.children[i]) {
                      domElement.children[i].children[0].onchange = mapSelector;
                    }
                }

            }
        }

        ymaps.ready(function() {
            map = new ymaps.Map("map",
            {
                center: [59.950132, 30.316043],
                zoom: 13,
                type: 'yandex#hybrid'
            });
            map.controls.add('zoomControl').add('typeSelector');
        });

        request.open("GET", apiAdress);
        //console.log(apiAdress);
        //request.setRequestHeader()
        request.send();

        var mapSelector = function() {
            var position, i, minX, maxX, minY, maxY, move;
            var id = this.value || console.log("Error: no value set on:", this);
            minX = maxX = trackList[id].track[0][0];
            minY = maxY = trackList[id].track[0][1];
            for (i = trackList[id].track.length; i--;) {
              minX = Math.min(trackList[id].track[i][0], minX);
              maxX = Math.max(trackList[id].track[i][0], maxX);
              minY = Math.min(trackList[id].track[i][1], minY);
              maxY = Math.max(trackList[id].track[i][1], maxY);
            }

            position = ymaps.util.bounds.getCenterAndZoom(
              [[minX, minY], [maxX, maxY]],
              map.container.getSize()
            )

            map.zoomRange.get(position.center).then(function (range) {

              move = new ymaps.map.action.Single({
                center: position.center,
                zoom: Math.min(position.zoom, range[1]),
                duration: 200,
                timingFunction: 'ease-in'
              });

              map.action.execute(move);

          });

            var myTrack = new ymaps.GeoObject({
                geometry: {
                    type: "LineString",
                    coordinates: trackList[id].track,
                },
                properties:{
                    hintContent: ""
                }
            }, {
                draggable: false,
                strokeColor: "#FF0000",
                strokeWidth: 5
            });
            map.geoObjects.each(function(track){map.geoObjects.remove(track)})
            map.geoObjects.add(myTrack);
        }

    }();
</script>

 <h1>Вывод gpx трека на карту Яндекса</h1>
 <div id="trackSelector" style="width:200px; float: right"></div>
 <div id="map" style="width: 800px; height: 600px"></div>
