.header {
    position: absolute;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #AA0;
    z-index: 1;
}
.left_header {
    z-index: 5;
}
.center_header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    text-align: center;
    background: #0F0;
}
.right_header {
    position: relative;
    right: 0px;
    margin: auto;
    z-index: 5;
    background: #EEE;
}
.center_text {
    margin: auto;
}
