.header {
    position: relative;
}
.header_left {
    margin: auto 0;
    display: table-cell;
    vertical-align: middle;
}
.header_title {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    z-index: 100;
}
.header_layer2 {
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.header_center {
    display: table-cell;
    width: 100%;
}
.header_right {
    vertical-align: middle;
    display: table-cell;
}
