<div class="left_header"><img alt="Vault Tec" title="Results may vary" src="../assets/logo.jpg"/></div>
<div class="center_header">
    <div class="center_text">
        <div style="font-family: sans-serif; font-size: xx-large;">
            <%= @title %>
        </div>
        <div style="font-family: sans-serif; font-size: large;">
            <%= @subtitle %>
        </div>
    </div>
</div>
<!--<div class="right_header">
    <div class="center_text">
        <%= form_tag(:controller => "application", :action => "logout") do %>&nbsp;<%= @username %>&nbsp;<input type="submit" value="Выйти" name="Logout" /><% end %>
    </div>
</div>
-->
